<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<object-views xmlns="http://axelor.com/xml/ns/object-views"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://axelor.com/xml/ns/object-views
  https://axelor.com/xml/ns/object-views/object-views_6.0.xsd">
  
  
	<menuitem title="Invoice" name="invoice-root" icon="fa-file" order="-1" icon-background="orange"/>
		<menuitem title="Invoice" name="invoice-root-invoice" parent="invoice-root" order="1" action="action.invoice.view.invoice"/>
			<action-view name="action.invoice.view.invoice" title="Invoices" model="com.axelor.invoice.db.Invoice">
				<view type="grid" name="invoice-grid"/>
				<view type="form" name="invoice-form"/>
			</action-view> 
		<menuitem title="Data" name="invoice-root-data" parent="invoice-root" icon="fa-list" order="2"/>
			<menuitem title="Invoice line" name="invoice-root-data-invoice-line" parent="invoice-root-data" action="action.invoice.data.view.invoice.line"/>
				<action-view name="action.invoice.data.view.invoice.line" title="Invoice lines" model="com.axelor.invoice.db.InvoiceLine">
					<view type="grid" name="invoice-line-grid"/>
					<view type="form" name="invoice-line-form"/>
				</action-view>
</object-views>
