<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<object-views xmlns="http://axelor.com/xml/ns/object-views"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://axelor.com/xml/ns/object-views
  https://axelor.com/xml/ns/object-views/object-views_6.0.xsd">
  

 <menuitem title="Sale" name="menu.sale" icon="fa-line-chart" icon-background="yellow"/>
     <menuitem title="All sale orders" name="menu.sale.allSaleOrders" parent="menu.sale"  action="sale.allSaleOrders"/>
     		<action-view name="sale.allSaleOrders" title="SaleOrder">
						<view type="form" name="sale-order-form" />
						<view type="grid" name="sale-order-grid" />
			</action-view>
			
     <menuitem title="Quotation sale orders" name="menu.sale.quotationSaleOrder" parent="menu.sale" action="sale.quotationSaleOrder"/>
     		<action-view name="sale.quotationSaleOrder" title="Quotation sale orders">
						<view type="grid" name="quotation-sale-order-grid" />
						<view type="form" name="quotation-sale-order-form" />
						<domain>self.SaleOrderStatusSelect='quotation'</domain>
			</action-view>
			
     <menuitem title="Configuration" name="menu.sale.configuration" parent="menu.sale"  icon="fa-gear"/>
             <menuitem title="Product categories" name="sale.configuration.productCategories" parent="menu.sale.configuration" action="sale.configuratoin.productCategory"/>
             		<action-view name="sale.configuratoin.productCategory" title="Product Category" model="com.axelor.sale.db.ProductCategory">
						<view type="grid" name="product-category-grid" />
						<view type="form" name="product-category-form" />
					</action-view>
					
            <menuitem title="Product categories tree" name="sale.configuration.productCategoryTree" parent="menu.sale.configuration"/>
<!--             		<action-view name="sale.configuration.productCategoryTree" title="Product category tree"> -->
<!-- 						<view type="grid" name="" /> -->
<!-- 						<view type="form" name="" /> -->
<!-- 					</action-view> -->
            
            <menuitem title="Products" name="sale.configuration.addresses" parent="menu.sale.configuration" action="sale.configuratoin.products"/>
            		<action-view name="sale.configuratoin.products" title="Products" model="com.axelor.sale.db.Product">
						<view type="grid" name="product-grid" />
						<view type="form" name="product-form" />
					</action-view>
					
       <menuitem name="menu.sale.data" title="Data" icon="fa-list" parent="menu.sale"/>
               <menuitem title="Sale order lines" name="menu.sale.data.saleOrderline" parent="menu.sale.data" action="sale.data.saleOrderLine"/>
               		<action-view name="sale.data.saleOrderLine" title="Sale order lines" model="com.axelor.sale.db.SaleOrderLine">
						<view type="grid" name="sale-order-line-grid-from-menu" />
						<view type="form" name="sale-order-line-form-form-menu" />
					</action-view>
  </object-views>