<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<object-views xmlns="http://axelor.com/xml/ns/object-views"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://axelor.com/xml/ns/object-views
  https://axelor.com/xml/ns/object-views/object-views_6.0.xsd">

  
 <menuitem title="Contact" name="menu.contact" icon="fa-user" icon-background="green"/>  
      <menuitem title="Contacts" name="contact.contacts" parent="menu.contact" action="contact.contacts" />
        <action-view name="contact.contacts" title="Contacts" model="com.axelor.contact.db.Contact">
                  	<view type="grid" name="contact-grid"/>
                  	<view type="form" name="contact-form"/>
                  	<view-param name="showArchived" value="true"/>
         </action-view>
      
      
      
      <menuitem title="Events" name="contact.events" parent="menu.contact" />
     
      
        <menuitem title="Configuration" name="contact.configuration" parent="menu.contact"  icon="fa-gear"/>
        
                  <menuitem title="Titles" name="contact.configuration.title" parent="contact.configuration" action="contact.configuration.title"/>
                   <action-view name="contact.configuration.title" title="Titles" model="com.axelor.contact.db.Title">
                   		<view type="grid" name="title-grid"/>
                   		<view type="form" name="title-form"/>
                   </action-view>
                  
                  <menuitem title="Countries" name="contact.configuration.countries" parent="contact.configuration" action="contact.configuration.countries"/>
                  	 <action-view name="contact.configuration.countries"
						title="Countries" model="com.axelor.contact.db.Country">
						<view type="grid" name="country-grid" />
						<view type="form" name="country-form" />
					</action-view>
                  
                <menuitem title="Addresses" name="contact.configuration.addresses" parent="contact.configuration" action="contact.configuration.address"/>
                    <action-view name="contact.configuration.address"
						title="Address" model="com.axelor.contact.db.Address">
						<view type="grid" name="address-grid" />
						<view type="form" name="address-form" />
					</action-view>
  

  </object-views>